<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <variable name="logLayout" value="${longdate} | ${level:uppercase=true} | t=${threadid} | ${logger} | ${message}${onexception:${newline}${exception:format=ToString}}" />
  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="logs/symulator-${shortdate}.log"
            keepFileOpen="false"
            concurrentWrites="true"
            layout="${var:logLayout}" />
    <target xsi:type="Console"
            name="logconsole"
            layout="${var:logLayout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>
